<div class="jumbotron">
  <div class="container">
    <p class="jumbo_text">Mike's Weather Site<p>
  </div>
</div>

<div class="container">
  <div class="box">
    <h1 class="box-heading">How this site works</h1>
        <ol class="box-list">
          <li>Push the "Check Weather" button</li>
          <li>Type in your city name-DO NOT USE SPACES, instead use an underscore _ thus San Diego is San_Diego</li>
          <li>Select your state</li>
          <li>Click the green "check weather button"</li>
          <li>That's it!</li>
        </ol>
      <p class="button">
        <%= link_to "Check Weather", index_path, class: "btn btn-success" %>
      </p>
  </div>
</div>

<div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div>